(
.root {
     -fx-background-color: #121212;
     -fx-font-size: 15px;
     -fx-font-family: "Arial";
}

.buttons{
     -fx-text-fill: white;
}

.label{
     -fx-text-fill: white;
}

.list-view, .split-pane { -fx-background-insets: 0; -fx-padding: 0; }

.list-cell {
-fx-font-family: "Arial";
-fx-background-color:  #121212;
-fx-text-fill: white;
-fx-font-size: 20px;
}

.list-cell:hover{
    -fx-background-color: #222327;
}

.list-cell:selected{
    -fx-background-color: #222327;;
}


.list-view .scroll-bar:vertical{
    -fx-opacity: 0;
    -fx-padding:-7;
}

 .list-view .scroll-bar:horizontal{
    -fx-opacity: 0;
    -fx-padding:-7;
}

.list-view *.scroll-bar:vertical *.increment-arrow,
.list-view *.scroll-bar:vertical *.decrement-arrow{
    -fx-padding: 0;
}


.list-view *.scroll-bar:horizontal *.increment-arrow,
.list-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-padding: 0;
}

.text-field {
-fx-text-fill: white;
  -fx-border-color: #222327;
  -fx-border-width: 0 0 1 0;
  -fx-background-color: transparent;
}


.table-view {
    -fx-base: #121212;
    -fx-control-inner-background: #121212;
    -fx-background-color: #121212;
    -fx-padding: 5;
        -fx-table-cell-border-color: #121212;
        -fx-table-header-border-color: #121212;
}

.table-view .column-header-background {
    -fx-background-color: #121212;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: #121212;
    -fx-border-color:
        #121212
        #121212
        white
        #121212;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-row-cell{
        -fx-font-size: 22px;
}

.table-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-padding:-7;
}

.table-view *.scroll-bar:vertical *.increment-arrow,
.table-view *.scroll-bar:vertical *.decrement-arrow {
    -fx-padding: 0;
}

.table-view:focused .table-row-cell:filled:focused:selected {
   -fx-background-color: #222327;
   -fx-table-cell-border-color: transparent;
}
